<div id="aboutus">
    <div fxLayout="column" fxLayoutAlign="center">
        <img class="img-responsive" src="https://vijaypackages.s3.ap-south-1.amazonaws.com/images-export/building.webp">
        <div fxLayoutAlign="center" class="maincaption">About Us </div>
        <div fxLayoutAlign="center" class="textmiddle">
            Vijay Packages is a printing & packaging company with a diverse clientele covering both Indian and
            international markets. Our team carries an experience of over three decades in this industry. The company
            has
            been built on a foundation of trust and has grown through the years delivering quality products through
            timely
            supplies.
            We manufacture various models of flexible packaging for the packaged food & pet food industries.
            As a customer centric company, we strive to ensure that we constantly deliver to our customer’s
            expectations.
            Our manufacturing facility uses high speed machinery giving us production capabilities to produce over 50
            million pouches annually.
        </div>
    </div>

</div>