.textmiddle  {
    justify-content: center;
    font-size: 23px;
    font-family: system-ui;
    line-height: 35px;
    padding-top: 3rem;
    padding-left: 30rem;
    padding-right: 30rem;
}
.maincaption {

    font-size: 46px;
    font-family: system-ui;
    line-height: 90px;
    

}