<mat-toolbar color="accent" class="navbar"> 
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div >
            <span>Logo</span>
            <span mat-display-4 class="companyname">Vijay Packages</span>
        </div>

        <div>
            <span>About Us</span>
            <span>Products</span>
            <span>Contact Us</span>
        </div>
    </mat-toolbar-row>  

</mat-toolbar>

<!--

<button class="mat-raised-button">Hello World</button>
<button mat-raised-button>Basic</button>
<button mat-raised-button>Hello World</button>

-->