<div id="products">
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutAlign="center" class="maincaption">Products</div>
    <div fxLayoutAlign="center" class="textmiddle">
      We are manufactoring carton boxes of any sizes as per the customer needs.
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px" fxLayoutGap.xs="0px">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Paper Boxes</mat-card-title>
          <mat-card-subtitle>Corrugated paper boxes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://vijaypackages.s3.ap-south-1.amazonaws.com/boxes.jpg" alt="Photo of Paper Box">
        <mat-card-content>
          <p>
            Corrugated paper boxes of 3 Ply, 5 Ply,7 Ply and 9 Ply as per customer needs. 
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Paper Rolls</mat-card-title>
          <mat-card-subtitle>Corrugated paper rolls</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://vijaypackages.s3.ap-south-1.amazonaws.com/corrugatedpaper.jpg" alt="Photo of Paper rolls">
        <mat-card-content>
          <p>
            Corrugated paper rolls are a protective packaging product that can be used to package a variety of items.  </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Paper Boards</mat-card-title>
          <mat-card-subtitle>Corrugated paper boards</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://vijaypackages.s3.ap-south-1.amazonaws.com/corrugatedpaper.jpg" alt="Photo Paper Boards">
        <mat-card-content>
          <p>
            Corrugated paper rolls are a protective packaging product that can be used to package a variety of items.  </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>

  

    </div>
    

  </div>
</div>