.textmiddle  {
    justify-content: center;
    font-size: 23px;
    font-family: system-ui;
    line-height: 35px;
}
.maincaption {
    font-size: 46px;
    font-family: system-ui;
    line-height: 90px;

}


.example-card {
    max-width: 400px;
    --mdc-elevated-card-container-color: rgb(247, 243, 243);
    --mat-card-subtitle-text-color: rgb(56, 56, 66);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
